body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #ecf0f3;
    outline: none;
font-family: sans-serif;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color:#ecf0f3;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,5px 5px 12px rgba(0, 0, 0,.16);
display: grid;
grid-template-columns: repeat(4,70px);
}
input{
    grid-column: span 4;
    height:70px;
    width:260px;
    background-color: #ecf0f3;
    box-shadow:inset -5px -5px 12px #ffffff,inset 5px 5px 12px rgba(0, 0, 0,.16) ;
border:none;
border-radius: 30px;
color:rgb(70,70,70);
font-size: 40px;
text-align: end;
margin: auto;
margin-top: 10px;
margin-bottom: 40px;
padding: 10px;
}
button{
    height: 48px;
    width: 48px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #ffffff,5px 5px 12px rgba(0, 0, 0,.16);
    border: none;
    border-radius: 50px;
    margin:10px;

}
button:hover{
    background-color: rgb(124, 104, 255);
    color: rgb(253, 253, 253);
}

#eq{
    width:115px;
    border-radius: 40px;
    background-color: #ffffff;
}
#eq:hover{
    background-color: rgb(124, 104, 255);
    color: rgb(253, 253, 253);
}
div h3{
    margin: 0px;
margin-left: 40px;
font-size: 40px;
color: rgb(80, 82, 94);
}